@import url('https://fonts.googleapis.com/css2?family=Inter&family=Zilla+Slab+Highlight&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #fafafa;
    font-family: 'Inter', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    height: 100vh;
    max-width: 100%;
    background-image: url(/bg.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.navbar {
    width: 95%;
    margin: auto;
    padding: 1.5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar img {
    width: 9rem;
    mix-blend-mode: normal;
    /* box-shadow: 1px 1px 10px 5px whitesmoke; */
    cursor: pointer;
}

.navbar .logo a {
    font-family: 'Zilla Slab Highlight', cursive;
    font-size: 2rem;
    color: wheat;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 1rem;
}

.navbar ul li a {
    font-size: 1.2rem;
    color: #fafafa;
}

.content {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* border: 2px solid wheat; */
}

.right {
    padding-left: 3rem;
}

.right h2 {
    font-size: 5rem;
}

.left {
    padding-right: 3rem;
}

.left p {
    font-size: 1.5rem;
}

.left img {
    width: 5rem;
    mix-blend-mode: color-burn;
    border-radius: 50%;
    cursor: pointer;
}

/* Responsive Design --- CSS */
@media (max-width:850px) {

    /* Style the navigation menu */
    .navbar {
        padding: 1.5rem;
    }

    .navbar .logo a {
        font-size: 1.8rem;
    }

    /* Hide the links inside the navigation menu (except for logo/home) */
    .navbar #myLinks {
        display: none;
    }

    .navbar ul li {
        display: block;
    }

    .navbar ul li a {
        font-size: 1.1rem;
    }

    /* Add a grey background color on mouse-over */
    .navbar a:hover {
        background-color: #ddd;
        color: black;
    }
    .navbar .icon i{
        font-size: 1.5rem;
    }

    .content {
        height: 80%;
    }

    .right {
        padding-left: 2rem;
    }

    .right h2 {
        font-size: 5rem;
    }

    .left {
        padding-right: 2rem;
    }

    .left img {
        width: 4rem;
    }
}